$white: #FFFFFF;
$black: #4f4d4d;

$primary-color: orange;
$secondary-color: #FFBE54;
$highlight-color: #FFDBA0;
$dark-color: #7F5F2A;
$dull-color: #CCAF80;

$login-bg: '../images/work3.jpg';
$login-form-bg-color: #FFFFFF;
$login-form-title-color: #4f4d4d;

$facebook-color: #3C5998;
$google-color: #DD4B39;
$twitter-color: #1EA1F2;

$sidebar-bg-color: #1B1E25;
$sidebar-header-bg-color: #38454C;
$sidebar-header-border-color: #ad3a05;

$preloader-color: #f46e03;
$preloader-color-left: darken(#b25102, 5%);
$preloader-color-right: darken(#dd5b2c, 15%);
$preloader-shadow: #DBE3F4;

$pagination-btn-color: rgba(33, 31, 31, 0.8);
$table-header-text-color: rgba(33, 31, 31, 0.8);

$bg-primary-color: #1B1E25;
