.card-login {
  padding: 20px;
}

.form-login {
  img {
    margin: 0 auto;
  }
}

.login-page {
  background: black;
}

.text-white {
  color: #FFF;
}

.text-white:hover {
  color: green;
}

.box-marque {
  padding:0.5rem;
  overflow: hidden;
}

.box-marque div {
  animation : slide 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translatex(100%)
  }

  100% {
    transform: translatex(-50%)
  }
}